.header {
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  color: rgb(82, 79, 79);
  align-items: center;
  .company-name {
    font-size: 30px;
    cursor: pointer;
  }

  .cart-container {
    display: flex;
    align-items: center;

    .fa-size {
      font-size: 33px;
    }

    .fa-stack[data-count]:after {
      position: absolute;
      right: 0%;
      top: 24%;
      content: attr(data-count);
      font-size: 51%;
      padding: 0.3em;
      line-height: 0.75em;
      color: white;
      text-align: center;
      min-width: 1em;
      font-weight: bold;
      background: red;
      border-radius: 99px;
    }
    .fa-circle {
      color: white;
    }

    .fa-inverse {
      color: grey;
    }
  }
}
