h1,
h2,
h3,
h4,
h5,
h6,
hr,
p {
  margin: 0;
  padding: 0;
}

* {
  -webkit-overflow-scrolling: touch;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: white;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #d1c8c8;
}

@media (max-width: 380px) {
  *::-webkit-scrollbar {
    display: none;
  }

  *::-webkit-scrollbar-thumb {
    display: none;
  }
}
